@page
@model LoginModel

@{
    ViewData["Title"] = "Entrar";
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewData["Title"] - KonBase</title>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="~/lib/konbaseBootstrap-4.2.1/css/KonbaseBootstrap.min.css" rel="stylesheet" type="text/css" />
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <!-- Outer Row -->
        <div class="row justify-content-center">

            <div class="col-xl-10 col-lg-12 col-md-9">

                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                            <div class="col-lg-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bem vindo de volta!</h1>
                                    </div>
                                    <form asp-route-returnUrl="@Model.ReturnUrl" method="post" class="user">
                                        <div class="form-group">
                                            <input asp-for="Input.Email" class="form-control form-control-user" placeholder="Email" />
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <input asp-for="Input.Password" class="form-control form-control-user" placeholder="Senha" />
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                        <div class="form-group">
                                            <div class="custom-control custom-checkbox small">
                                                <input asp-for="Input.RememberMe" type="checkbox" class="custom-control-input" id="customCheck" />
                                                <label asp-for="Input.RememberMe" class="custom-control-label" for="customCheck"></label>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary btn-user btn-block" type="submit">
                                            Entrar
                                        </button>
                                        <hr>
                                    </form>
                                    @{
                                        if ((Model.ExternalLogins?.Count ?? 0) == 0)
                                        {
                                            <div class="text-center">
                                                <p>
                                                    Não há serviços de autenticação externos configurados.
                                                </p>
                                            </div>
                                        }
                                        else
                                        {
                                            <form asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                                                <div>
                                                    <p>
                                                        @foreach (var provider in Model.ExternalLogins)
                                                        {
                                                            if (provider.Name == "Google")
                                                            {
                                                                <button type="submit" class="btn btn-default btn-google btn-user btn-block" name="provider" value="@provider.Name" title="Faça o login usando sua conta @provider.DisplayName"><i class="fab fa-google fa-fw"></i> Entrar com Google</button>
                                                            }
                                                            else
                                                            {
                                                                <button type="submit" class="btn btn-default btn-facebook btn-user btn-block" name="provider" value="@provider.Name" title="Faça o login usando sua conta @provider.DisplayName"><i class="fab fa-facebook-f fa-fw"></i> Entrar com Facebook</button>
                                                            }
                                                        }
                                                    </p>
                                                </div>
                                            </form>
                                        }
                                    }
                                    <hr>
                                    <div class="text-center">
                                        <a asp-page="./ForgotPassword">Esqueceu a senha?</a>
                                    </div>
                                    <div class="text-center">
                                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Crie a sua conta aqui!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery-3.3.1/dist/jquery.min.js"></script>
    <script src="~/lib/konbaseBootstrap-4.2.1/js/konbaseBootstrap.min.js"></script>
    <script src="~/lib/jquery-easing-1.3.0/jquery-easing.js"></script>
    <script src="~/js/sidebarToggleTop.js"></script>
    <script src="~/lib/jquery-Mask-1.14.15/src/jquery.mask.js"></script>
    <script src="~/js/styleMask.js"></script>

    @section Scripts {
        <partial name="_ValidationScriptsPartial" />
    }

    @await Component.InvokeAsync("NToastNotify")

</body>
</html>